.food-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: rgba(0, 153, 255, 0.7);
    border: 1px solid rgb(0, 85, 142);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 100%;
    color: gold;
    
}

.food-display{
    margin-top: 30px;
}

.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}

.food-display-list{
    color: gold;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
