.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 200px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: rgb(0, 153, 255);
    font-size: 18px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: rgb(0, 153, 255);
    font-size: 16px;
    color: gold;
    border: 1px solid rgb(0, 40, 67);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: rgb(0, 85, 142);
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color:rgb(0, 85, 142);
    border-radius: 5px;
    top: -3px;
    right: -3px;
}

@media (max-width:1050px){
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }

    .navbar-right button{
        padding:7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px){
   
    .navbar-menu{
        display: none;
    }
    
}

.navbar-search-icon img{
    width: 60px; 
    height: 60px;
}